{{#section 'subnav'}}
<nav class="navbar details-subnav hidden-xs">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/faculty/xiao">肖艺能</a></li>
      <li><a href="/faculty/cai">蔡钧安</a></li>
      <li><a href="/faculty/liu">刘宇</a></li>
      <li><a href="/faculty/wang">王骁</a></li>
      <li><a href="/faculty/li">李枝蔚</a></li>
      <li><a href="/faculty/qin">秦一然</a></li>
      <li><a href="/faculty/tianyi">李天翼</a></li>
    </ul>
  </div>
</nav>
{{/section}}