{{#section 'subnav'}}
<nav class="navbar details-subnav hidden-xs">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/articles">新闻</a></li>
      <li><a href="/articles-activities">费米活动</a></li>
      <li><a href="/articles-notes">费米手记</a></li>
      <li><a href="/articles-QA">常见问题Q&A</a></li>
    </ul>
  </div>
</nav>
{{/section}}
