{{#section 'subnav'}}
<nav class="navbar details-subnav hidden-xs">
	<div class="container">
		<ul class="nav navbar-nav">
			<li><a href="/diy/bing">液氮冰淇淋</a></li>
			<li><a href="/diy/shui">水平仪</a></li>
			<li><a href="/diy/ce">测力计</a></li>
			<li><a href="/diy/home-first">家庭实验第一弹</a></li>
			<li><a href="/diy/home-second">家庭实验第二弹</a></li>
			<li><a href="/diy/home-third">家庭实验第三弹</a></li>
			<li><a href="/diy/home-fourth">家庭实验第四弹</a></li>
		</ul>
	</div>
</nav>
{{/section}}