{{#section 'subnav'}}
<nav class="navbar details-subnav hidden-xs">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/news">全部</a></li>
      <li><a href="/activities">费米活动</a></li>
      <li><a href="/notes">费米手记</a></li>
      <li><a href="/QA">常见问题Q&A</a></li>
    </ul>
  </div>
</nav>
{{/section}}
