<div class="out-container">
    <div class="container content-container">
        <div class="row">
            <div class="col-md-12">
                <div class="promo-content horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/passages/23/1126389765.jpg" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class='inner-content'>
                                <h3>万圣长夜 | 南瓜王国奇妙夜</h3>
                                <p>时间：2015年11月1日18:30-20:30</p>
                                <p>地点：费米实验室</p>
                                <p><a href="/passages/23">南瓜密室逃脱之夜</a></p>
                                <p><a href="/passages/26">费米回忆录| 南瓜王国奇妙夜</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-container">
        <div class="row">
            <div class="col-md-12">
                <div class="promo-content horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/passages/19/850_3-50.jpg" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class='inner-content'>
                                <h3>五月行动 | 地质博物馆</h3>
                                <p>时间：2015年5月16日14:00-17:00</p>
                                <p>地点：北京市西城区西四羊肉胡同15号地质博物馆</p>
                                <p><a href="/passages/19">将枯燥的科学课堂搬进自然和生活中是种怎样的体验？</a></p>
                                <p><a href="/passages/20">5月大戏华丽落幕：地质博物馆之费米科学PK赛</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

