
<div class='row'>
  <div class='col-md-12'>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              报名攻略
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <h4>地址&交通</h4>
            <p><strong>1、费米实验室地址：</strong>北京市海淀区知春路113号银网大厦B座10层费米实验室（Fermi Science lab）</p>
            <p><strong>2、交通方式：</strong></p>
            <p>A、地铁4号线、10号线到海淀黄庄站B出口，向东300米</p>
            <p>B、公交355、608、等至海淀黄庄北站；公交304等至海淀黄庄东站</p>
            <div class='row'>
              <div class='col-md-8 col-md-offset-2'>
                <img src="/images/741_2.jpg">
              </div>
            </div>
            <br /><br />
            <h4>报名方式</h4>
            <p><strong>1、报名地址：</strong></p>
            <p>银网大厦B座10层报名前台（费米实验室所在地）</p>
            <p>豪景大厦11层报名前台（银网大厦过马路斜对面）</p>
            <p><strong>2、报名电话：</strong></p>
            <p>银网前台 62617100</p>
            <p>豪景前台 62106576 ； 62105289</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>