{{> subnav_courses}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米数学</h3>
        </div>
        <div>
          <br />
              <h4>2015暑假</h4>
<table class="table table-striped">
<tr><td>数学读心术</td></tr>
<tr><td>蒙娜丽莎的神秘微笑</td></tr>
<tr><td>世界末日传说</td></tr>
<tr><td>拆穿传销骗局</td></tr>
<tr><td>0与1构成的世界</td></tr>
<tr><td>数字与智慧碰撞的火花</td></tr>
<tr><td>一分为二的策略</td></tr>
</table>
              <br />
              <h4>2015年秋季</h4>
<table class="table table-striped">
<tr><td>拍卖现场的经济学博弈</td></tr>
<tr><td>不讲义气的囚犯</td></tr>
<tr><td>公共用品悲剧</td></tr>
<tr><td>购物狂欢背后的迷局</td></tr>
<tr><td>价格歧视</td></tr>
<tr><td>倾销与垄断</td></tr>
<tr><td>庞氏骗局、股票与金融危机</td></tr>
<tr><td>也谈田忌赛马</td></tr>
<tr><td>凯撒大帝的智慧</td></tr>
<tr><td>密码乾坤大挪移</td></tr>
<tr><td>摩尔斯电码与泰坦尼克号的沉没</td></tr>
<tr><td>防止破译的排列组合</td></tr>
<tr><td>送密电的特工</td></tr>
<tr><td>四十大盗为何不杀阿里巴巴？</td></tr>
<tr><td>第三帝国的骄傲与毁灭</td></tr>
</table>
        </div>
      </div>
    </div>
  </div>
</div>