{{> subnav_courses}}

<div class="row">
  <div class='col-md-6'>
    <div class="promo-content">
      <img src="/images/IMG_3410_1.JPG" alt="费米化学">
      <div class="inner-content">
        <div>
          <h2>课程</h2>
          <h3>费米化学</h3>
        </div>
        <div>
          <p>斯内普教授的火魔法 名侦探柯南中的化学探秘</p>
        </div>
      </div>
      <a href="/courses/chem" class="cta-overlay">费米化学大纲</a>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="promo-content">
      <img src="/images/IMG_3453_1.JPG" alt="费米物理">
      <div class="inner-content">
        <div>
          <h2>课程</h2>
          <h3>费米物理</h3>
        </div>
        <div>
          <p>解开神话的面纱 迪士尼乐园中的暴走物理</p>
        </div>
      </div>
      <a href="/courses/phy" class="cta-overlay">费米物理大纲</a>
    </div>
  </div>
</div>
