{{> subnav_courses}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米数学</h3>
        </div>
        <div>
          <div>
            <br />
            <h4>数字世界万花筒</h4>

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#outline1" aria-controls="outline1" role="tab" data-toggle="tab">大纲</a></li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="outline1">
                <table class="table table-striped">
                  <tr><td>数学读心术</td><td>斐波那契数列</td></tr>
                  <tr><td>蒙娜丽莎的神秘微笑</td><td>黄金分割率、黄金螺线、作图</td></tr>
                  <tr><td>世界末日传说</td><td>汉诺塔、九连环、递推思想</td></tr>
                  <tr><td>拆穿传销骗局</td><td>指数增长、多米诺效应</td></tr>
                  <tr><td>0与1构成的世界</td><td>数的进位制、二进制、反码与补码</td></tr>
                  <tr><td>数字与智慧碰撞的火花</td><td>二进制与逻辑，计算机发展史</td></tr>
                  <tr><td>一分为二的策略</td><td>二分法原理、应用</td></tr>
                </table>
              </div>
            </div>

          </div>

          <div>
            <br />
            <h4>博弈与密码暗战</h4>

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#outline2" aria-controls="outline2" role="tab" data-toggle="tab">大纲</a></li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="outline2">
                <table class="table table-striped">
                  <tr><td>不讲义气的囚犯</td><td>囚徒困境、活动：隔离审判中的罪犯</td></tr>
                  <tr><td>公用品悲剧与“理性人假设”</td><td>公地悲剧，理性人、活动：“精明”的投资人</td></tr>
                  <tr><td>博弈中的平衡</td><td>纳什均衡，混合策略、活动：老鹰与鸽子</td></tr>
                  <tr><td>数学博弈游戏</td><td>必胜策略，活动：棋盘上的交锋</td></tr>
                  <tr><td>赌徒中的数学家</td><td>概率的基本概念、概率发展史</td></tr>
                  <tr><td>彩票、保险与数学期望</td><td>数学期望，活动：彩票大乐透</td></tr>
                  <tr><td>不想劫机的“恐怖分子”</td><td>独立事件，贝叶斯公式</td></tr>
                  <tr><td>隐性公平与伪公平</td><td>博彩游戏、概率分析</td></tr>
                  <tr><td>恺撒大帝与替换密码</td><td>恺撒密码、维吉尼亚密码体系</td></tr>
                  <tr><td>排列组合与暴力破解法</td><td>排列组合、计数原理</td></tr>
                  <tr><td>送密电的特工</td><td>（m, n）门限协议，活动：FBI的特工</td></tr>
                  <tr><td>概率与替换密码的破解</td><td>概率破解法，活动：分析名著中的字母频率</td></tr>
                  <tr><td>五花八门的古典密码</td><td>对称加密、Enigma机、图灵与密码破译</td></tr>
                </table>
              </div>
            </div>

          </div>

          
        </div>
      </div>
    </div>
  </div>
</div>

