{{> subnav_courses}}

<div class='row'>
  <div class='col-md-12'>
    <div>
      <h3>费米化学</h3>
      <br />
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              化学二届班
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div>
              <br />
              <h4>2016年寒假 斯内普教授的火魔法</h4>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#outline1" aria-controls="outline1" role="tab" data-toggle="tab">大纲</a></li>
                <li role="presentation"><a href="#time1" aria-controls="time1" role="tab" data-toggle="tab">时间</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="outline1">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%">主题</th>
                        <th style="width: 80%">概述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>斯内普教授的火魔法</td><td>火魔法实验探究；实验操作和安全；实验室规则制定</td></tr>
                      <tr><td>离子邂逅的彩虹</td><td>络合物浅说；溶液配制；显色原理与互补色原理（一）</td></tr>
                      <tr><td>酸碱相遇的彩虹</td><td>酸碱电离理论；酸碱指示剂原理与使用；显色原理与互补色原理（二）</td></tr>
                      <tr><td>点水成冰</td><td>溶液和溶解度初步；饱和溶液的配制；过饱和现象与结晶原理</td></tr>
                      <tr><td>点滴沉淀</td><td>过滤操作与滤纸折叠；沉淀洗涤与转移</td></tr>
                      <tr><td>烧杯中的泡泡</td><td>气体发生装置的搭建；气体的产生与收集；气泡产生的原理</td></tr>
                      <tr><td>铁树铜花</td><td>溶液配制；置换反应原理；金属反应的预处理</td></tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="time1">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 40%">1月22日～1月28日连续7天</th>
                        <th style="width: 40%">1月29日～2月4日连续7天</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th>08:00~10:00</th><td></td><td></td></tr>
                      <tr><th>10:20~12:20</th><td></td><td></td></tr>
                      <tr><th>13:30~15:30</th><td></td><td></td></tr>
                      <tr><th>15:45~17:45</th><td></td><td>化学二届班</td></tr>
                      <tr><th>18:30~20:30</th><td></td><td></td></tr>
                    </tbody>        
                  </table>
                </div>
              </div>

            </div>

            <div>
              <br />
              <h4>2016年春季 名侦探柯南中的化学探秘</h4>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#outline2" aria-controls="outline2" role="tab" data-toggle="tab">大纲</a></li>
                <li role="presentation"><a href="#time2" aria-controls="time2" role="tab" data-toggle="tab">时间</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="outline2">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%">主题</th>
                        <th style="width: 80%">概述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>黑衣组织的代号</td><td>琴酒、伏特加、波本的来历；葡萄酒酿制过程中的化学</td></tr>
                      <tr><td>焰火跳动的彩虹</td><td>金属离子的焰色反应；黑火药的制造史；爆炸的化学</td></tr>
                      <tr><td>APTX4869与返老还童的秘密</td><td>护手霜的主要成分及其作用；养生与化学；自由基清除与皮肤保养</td></tr>
                      <tr><td>舌尖上的相生相克</td><td>常见食物的化学成分；食品搭配的化学；危险！小心吃出来的“砒霜”/td></tr>
                      <tr><td>超越哈根达斯的享受</td><td>液氮与干冰制冷的原理；冰淇淋的分子解构</td></tr>
                      <tr><td>怪盗基德的猎物</td><td>珠宝玉石的化学组成；发光与显色的化学原理</td></tr>
                      <tr><td>“可燃冰”的奥秘</td><td>固体酒精的制作；焰色反应的复习与再现/td></tr>
                      <tr><td>蓝宝石的结晶与《绀碧之棺》</td><td>晶体结构浅析；结晶的方法；硫酸铜的性质</td></tr>
                      <tr><td>炼金术师的馈赠</td><td>化学元素世界的历史地理、行政区划与政治制度</td></tr>
                      <tr><td>法老的权杖</td><td>过氧化氢的分解反应；催化剂的特性</td></tr>
                      <tr><td>委托人的景泰蓝</td><td>陶瓷的化学成分；陶瓷烧制的物理化学过程</td></tr>
                      <tr><td>水中花园</td><td>沉淀生长的原理；硅酸钠的特性；自制“水中花园”</td></tr>
                      <tr><td>后炼金术时代的符号</td><td>用化学式表示物质；化合价的含义及常见元素的化合价</td></tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="time2">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 40%">2月27日起每周六</th>
                        <th style="width: 40%">2月28日起每周日</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th>08:00~10:00</th><td></td><td></td></tr>
                      <tr><th>10:20~12:20</th><td></td><td></td></tr>
                      <tr><th>13:30~15:30</th><td></td><td></td></tr>
                      <tr><th>15:45~17:45</th><td></td><td>化学二届班</td></tr>
                      <tr><th>18:30~20:30</th><td></td><td></td></tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
              化学一届班
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <div>
              <br />
              <h4>2016年寒假 尼古拉的炼金术</h4>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#outline3" aria-controls="outline3" role="tab" data-toggle="tab">大纲</a></li>
                <li role="presentation"><a href="#time3" aria-controls="time3" role="tab" data-toggle="tab">时间</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="outline3">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%">主题</th>
                        <th style="width: 80%">概述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>茶叶中提取咖啡因</td><td>水萃取法从茶叶中提取咖啡因；升华装置的搭建和使用</td></tr>
                      <tr><td>茶叶中的元素鉴定</td><td>灼烧法除去茶叶中的有机物；酸溶解法溶解茶叶中的元素；pH值的测定和调节；几种常见元素的鉴定</td></tr>
                      <tr><td>航海前的准备——自制天气瓶</td><td>菲茨罗伊船长的发明；天气瓶的制作；天气瓶指示天气原理的探究</td></tr>
                      <tr><td>咖啡提神的奥秘</td><td>自主设计实验：从咖啡豆中提取咖啡因；实验关键操作的讨论；实验：咖啡豆中提取咖啡因</td></tr>
                      <tr><td>树叶中的一抹绿</td><td>从树叶中提取叶绿素；纸色谱法分离树叶中的色素</td></tr>
                      <tr><td>树叶中的元素</td><td>自主设计实验：树叶中的元素鉴定；讨论：实验中试剂的用量；实验：鉴定树叶中的几种元素</td></tr>
                      <tr><td>灿烂的黄金雨</td><td>黄金雨的产生原理；晶体生长条件探究；黄金雨的产生与展示</td></tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="time3">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 40%">1月22日～1月28日连续7天</th>
                        <th style="width: 40%">1月29日～2月4日连续7天</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th>08:00~10:00</th><td></td><td></td></tr>
                      <tr><th>10:20~12:20</th><td></td><td>化学一届班</td></tr>
                      <tr><th>13:30~15:30</th><td></td><td></td></tr>
                      <tr><th>15:45~17:45</th><td>化学一届班</td><td></td></tr>
                      <tr><th>18:30~20:30</th><td></td><td></td></tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>

            <div>
              <br />
              <h4>2016年春季 化学改变生活</h4>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#outline4" aria-controls="outline4" role="tab" data-toggle="tab">大纲</a></li>
                <li role="presentation"><a href="#time4" aria-controls="time4" role="tab" data-toggle="tab">时间</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="outline4">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%">主题</th>
                        <th style="width: 80%">概述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>水果也能发电</td><td>水果电池与可乐电池的制作与使用；金属的导电原理；电池工作方式的探究（一）</td></tr>
                      <tr><td>化学电池初探</td><td>铜锌化学电池的制作与使用；燃料电池的制作与使用；电池工作方式的探究（二）</td></tr>
                      <tr><td>连接两极的桥梁</td><td>盐桥的制作与工作方式；带盐桥的铜锌化学电池的制作与使用</td></tr>
                      <tr><td>DIY电池的外壳</td><td>南孚电池的构造分析；DIY电池的结构设计与电极的准备</td></tr>
                      <tr><td>电池的内部填充</td><td>盐桥的制作和电解液的选择；电池性能调试</td></tr>
                      <tr><td>“钻石”生长的奥秘——晶种的制备</td><td>影响晶体生长的因素分析；晶种的制备</td></tr>
                      <tr><td>“钻石”生长的奥秘——条件的选择</td><td>磷酸二氢钾(KDP)晶体的生长条件探究；悬挂法和沉底法生长晶体</td></tr>
                      <tr><td>“钻石”生长的奥秘——条件的优化</td><td>磷酸二氢钾大晶体的制备；晶体生长尺寸pK</td></tr>
                      <tr><td>真假宝石</td><td>晶体性质的检测方法；显微熔点仪的工作原理和使用方法</td></tr>
                      <tr><td>蓝色妖姬</td><td>晶体的生长条件探究；硫酸铜玫瑰的制作</td></tr>
                      <tr><td>溶剂的奥秘</td><td>纸色谱的条件探究（一）；花叶中色素的提取和分离</td></tr>
                      <tr><td>纸上的彩虹</td><td>纸色谱的条件探究（二）；用不同的植物色素做出彩虹</td></tr>
                      <tr><td>玫瑰花的精华</td><td>萃取的原理；玫瑰精油的提取</td></tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="time4">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 40%">2月27日起每周六</th>
                        <th style="width: 40%">2月28日起每周日</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th>08:00~10:00</th><td></td><td></td></tr>
                      <tr><th>10:20~12:20</th><td></td><td>化学一届班</td></tr>
                      <tr><th>13:30~15:30</th><td></td><td></td></tr>
                      <tr><th>15:45~17:45</th><td>化学一届班</td><td></td></tr>
                      <tr><th>18:30~20:30</th><td></td><td></td></tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

