{{> subnav_courses}}

<div class='row'>
  <div class='col-md-12'>
    <div>
      <h3>费米物理</h3>
      <br />
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              物理二届班
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div>
              <br />
              <h4>2016年寒假 解开神话的面纱</h4>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#outline1" aria-controls="outline1" role="tab" data-toggle="tab">大纲</a></li>
                <li role="presentation"><a href="#time1" aria-controls="time1" role="tab" data-toggle="tab">时间</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="outline1">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%">主题</th>
                        <th style="width: 80%">概述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>似是而非的秘密</td><td>物理实验的观测和记录，针筒实验，浮针实验，落体实验</td></tr>
                      <tr><td>鲜榨果汁的尊贵</td><td>物体的质量，体积的测量，密度的比较，果汁质量大检验</td></tr>
                      <tr><td>不要欺负Tom猫</td><td>声音的发出、传播和接收，真空声音实验，养乐多笛子</td></tr>
                      <tr><td>回旋镖星座的冷酷</td><td>温标的比较，冰水混合物和沸水温度测量，加热升温曲线</td></tr>
                      <tr><td>人类文明的发源</td><td>火的起源，燃烧实验，蜡烛烧水球，制作爆米花，汤勺中的小水珠</td></tr>
                      <tr><td>说变就变的彩虹</td><td>光线直线传播实验，三棱镜制造彩虹，光的反射折射成像</td></tr>
                      <tr><td>众神之王的魔法</td><td>雷电和摩擦起电现象，铁屑描述磁感线实验，指南针实验</td></tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="time1">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 40%">1月22日～1月28日连续7天</th>
                        <th style="width: 40%">1月29日～2月4日连续7天</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th>08:00~10:00</th><td></td><td></td></tr>
                      <tr><th>10:20~12:20</th><td></td><td></td></tr>
                      <tr><th>13:30~15:30</th><td></td><td>物理二届班</td></tr>
                      <tr><th>15:45~17:45</th><td></td><td></td></tr>
                      <tr><th>18:30~20:30</th><td></td><td></td></tr>
                    </tbody>        
                  </table>
                </div>
              </div>

            </div>

            <div>
              <br />
              <h4>2016年春季 迪士尼乐园中的暴走物理</h4>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#outline2" aria-controls="outline2" role="tab" data-toggle="tab">大纲</a></li>
                <li role="presentation"><a href="#time2" aria-controls="time2" role="tab" data-toggle="tab">时间</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="outline2">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%">主题</th>
                        <th style="width: 80%">概述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>艾波卡特跑道测试</td><td>参照系，瞬时和平均速度，光电门，加速度</td></tr>
                      <tr><td>打架谁吃亏</td><td>弹簧测力计的使用，力的特点研究</td></tr>
                      <tr><td>无所不谈</td><td>弹性和塑性形变，减震措施，弹簧测力计的制作</td></tr>
                      <tr><td>百步穿杨的神射手</td><td>弓箭、投石器的原理，抛体运动的特点</td></tr>
                      <tr><td>你敢信1+1=0</td><td>力的图示和示意图，二力平衡、力的合成和分解实验</td></tr>
                      <tr><td>地心任务</td><td>重力及其应用，重力的测量， 水平仪</td></tr>
                      <tr><td>平衡的秘密</td><td>重心位置，纸牌桥, 不倒塌结构实验</td></tr>
                      <tr><td>拔河比赛谁能赢</td><td>摩擦力，摩擦力的测量和影响因素研究实验</td></tr>
                      <tr><td>永不停息的列车</td><td>惯性定律实验，重物下落的实验模拟</td></tr>
                      <tr><td>牛顿没告诉你的事儿</td><td>牛顿第二定律的实验探究，失重和超重</td></tr>
                      <tr><td>如坐针毡</td><td>固体压强影响因素，气球承重实验</td></tr>
                      <tr><td>迪欣湖的戏水法则</td><td>静水和动水的压强影响因素，吊针实验</td></tr>
                      <tr><td>力学综合实验设计</td><td>重心位置的平衡性、摩擦力的条件，弹簧构造三个设计</td></tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="time2">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 40%">2月27日起每周六</th>
                        <th style="width: 40%">2月28日起每周日</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th>08:00~10:00</th><td></td><td></td></tr>
                      <tr><th>10:20~12:20</th><td></td><td></td></tr>
                      <tr><th>13:30~15:30</th><td></td><td>物理二届班</td></tr>
                      <tr><th>15:45~17:45</th><td></td><td></td></tr>
                      <tr><th>18:30~20:30</th><td></td><td></td></tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
              物理一届班
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <div>
              <br />
              <h4>2016年寒假 大航海时代</h4>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#outline3" aria-controls="outline3" role="tab" data-toggle="tab">大纲</a></li>
                <li role="presentation"><a href="#time3" aria-controls="time3" role="tab" data-toggle="tab">时间</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="outline3">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%">主题</th>
                        <th style="width: 80%">概述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>重走麦哲伦之路</td><td>麦哲伦环球航行，团队分工，轮船制造设计</td></tr>
                      <tr><td>发动，起航！</td><td>防水问题，动力问题，平衡问题</td></tr>
                      <tr><td>桑塔露琪亚港</td><td>明轮，水中的推动力，力矩</td></tr>
                      <tr><td>穿越风浪中的海峡</td><td>倾覆角，海浪的机理，海浪中的平衡</td></tr>
                      <tr><td>战火漂流</td><td>轮船运载测试，风浪中航行，抗击打能力</td></tr>
                      <tr><td>东南亚的升级</td><td>螺旋桨的设计和原理，多体船</td></tr>
                      <tr><td>终极海战</td><td>轮船海战实验、修缮和竞赛</td></tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="time3">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 40%">1月22日～1月28日连续7天</th>
                        <th style="width: 40%">1月29日～2月4日连续7天</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th>08:00~10:00</th><td></td><td></td></tr>
                      <tr><th>10:20~12:20</th><td></td><td></td></tr>
                      <tr><th>13:30~15:30</th><td>物理一届班</td><td></td></tr>
                      <tr><th>15:45~17:45</th><td></td><td></td></tr>
                      <tr><th>18:30~20:30</th><td></td><td>物理一届班</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>

            <div>
              <br />
              <h4>2016年春季 工业革命的科技之光</h4>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#outline4" aria-controls="outline4" role="tab" data-toggle="tab">大纲</a></li>
                <li role="presentation"><a href="#time4" aria-controls="time4" role="tab" data-toggle="tab">时间</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="outline4">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%">主题</th>
                        <th style="width: 80%">概述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>触电惊魂</td><td>家庭电路，生活用电，电表的使用，静电和电流实验</td></tr>
                      <tr><td>电流收费站</td><td>电流流动遇到的困难，材料的电流阻碍性质研究</td></tr>
                      <tr><td>线性实验的美感</td><td>电路的线性数学，欧姆定律实验，物理图像初步</td></tr>
                      <tr><td>Nakamura的诺贝尔奖</td><td>LED在社会上的应用，LED的性质，LED实验</td></tr>
                      <tr><td>电学画作</td><td>电路图，简单抽象思维训练，电路设计实验</td></tr>
                      <tr><td>创造新的电表</td><td>电路连接方式的探究，电表改装实验</td></tr>
                      <tr><td>智能电路</td><td>功放电路模块，三极管，制作生日贺卡</td></tr>
                      <tr><td>随心所欲的魔法</td><td>感应控制开关和应用实验，设计功能电路</td></tr>
                      <tr><td>控制的艺术</td><td>非线性元件的电路改装实验，能量转化的思想浅谈</td></tr>
                      <tr><td>听诊、蓄水池。感应器</td><td>示波器的使用探究，李萨如图像</td></tr>
                      <tr><td>“偷听”？</td><td>收音机的FM和AM，天线的作用，集成放大模块</td></tr>
                      <tr><td>收音机可以录音吗</td><td>收音机的磁现象，制作收录机，电磁现象初步</td></tr>
                      <tr><td>神秘的黑箱</td><td>神秘的黑箱</td></tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="time4">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 40%">2月27日起每周六</th>
                        <th style="width: 40%">2月28日起每周日</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th>08:00~10:00</th><td></td><td></td></tr>
                      <tr><th>10:20~12:20</th><td></td><td></td></tr>
                      <tr><th>13:30~15:30</th><td>物理一届班</td><td></td></tr>
                      <tr><th>15:45~17:45</th><td></td><td></td></tr>
                      <tr><th>18:30~20:30</th><td></td><td>物理一届班</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
