{{> subnav_courses}}

<div class="out-container background-black" style="min-height:60em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb4">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1 mb18">
                        <h1 class="">费米创课</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="py1">
                        <h3 class=""></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_5431_0.JPG)">
    </div>
</div>

<div class="out-container overlay" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top border-thick py1">
                <p>买东西时不信任别人的称量？何不试试自己做的测力计！</p>
                <p>想知道比萨斜塔的倾角？快带着自制的水平仪去秀一下！</p>
                <p>看3D电影嫌弃公用眼镜？不如带一个刻有你签名的专属成果！</p>
                <p>以后想造火箭遨游太空？至少得先学会造辆汽车吧！</p>
                <h3>You can DIY in Fermi Lab</h3>
                <br />
                <p><a href="/courses/maker">查看创课课程</a></p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_4361.JPG" alt="费米创课">
            </div> 
        </div>
    </div>
</div>

<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb4">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1 mb18">
                        <h1 class="">费米物理</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="py1">
                        <h3 class=""></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_4022.JPG)">
    </div>
</div>

<div class="out-container overlay" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top border-thick py1">
              <p>当别人还在期待雨后的彩虹，你却可以说现就现。</p>
              <p>当别人在旅游时迷失了方向，你却可以带着大家返回目的地。</p>
              <p>当别人被魔术惊呆了，你却可以悄悄告诉他其中的秘密。</p>
              <p>当别人还在梦想遨游宇宙，你却可以讲解宇宙飞船的原理。</p>
              <h3>You will become a magician in Fermi Lab.</h3>
              <br />
              <p><a href="/courses/phy">查看物理课程</a></p>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <img src="/images/IMG_5322.JPG" alt="费米物理">
        </div> 
    </div>
</div>
</div>

<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb4">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1 mb18">
                        <h1 class="">费米化学</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="py1">
                        <h3 class=""></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_6464.JPG)">
    </div>
</div>

<div class="out-container overlay" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top border-thick py1">
              <p>你看过《舌尖上的中国》吗？你想知道酸、甜、苦、辣、咸中的化学作用吗？</p>
              <p>家中有葡萄酒的珍藏么？你想知道葡萄酒中的成分以及葡萄酒酿造过程中的化学过程吗？</p>
              <p>你看过《名侦探柯南》么？你想知道APTX4869的作用机制么?想知道如何延缓衰老，保持青春么？</p>
              <p>你喜欢绚烂的焰火么？你想知道焰火跳动中，彩虹色背后的化学原理么？</p>
              <h3>You can find the answer in Fermi-Chem</h3>
              <br />
              <p><a href="/courses/chem">查看化学课程</a>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_3410_1.JPG" alt="费米化学">
            </div> 
        </div>
    </div>
</div>
