{{> subnav_courses}}

<div class='row'>
  <div class='col-md-12'>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              费米创课班
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div>
              <br />
              <h4>2016年寒假</h4>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#outline1" aria-controls="outline1" role="tab" data-toggle="tab">大纲</a></li>
                <li role="presentation"><a href="#time1" aria-controls="time1" role="tab" data-toggle="tab">时间</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="outline1">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%">主题</th>
                        <th style="width: 80%">概述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>试管里的彩虹</td><td>化学变色|科学艺术类</td></tr>
                      <tr><td>养乐多笛子</td><td>声学演奏|科学艺术类</td></tr>
                      <tr><td>茶与咖啡画米老鼠</td><td>染色绘画|科学艺术类</td></tr>
                      <tr><td>喷射的激光火焰</td><td>原子极光|科学艺术类</td></tr>
                      <tr><td>蜡烛爆米花</td><td>分子烹饪|科学技术类</td></tr>
                      <tr><td>烧不烂的气球</td><td>热能传递|科学技术类</td></tr>
                      <tr><td>不会融化的冰</td><td>结晶工艺|科学技术类</td></tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="time1">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 40%">1月22日～1月28日连续7天</th>
                        <th style="width: 40%">1月29日～2月4日连续7天</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th>08:00~10:00</th><td></td><td></td></tr>
                      <tr><th>10:20~12:20</th><td>费米创客班</td><td></td></tr>
                      <tr><th>13:00~15:00</th><td></td><td></td></tr>
                      <tr><th>15:30~17:30</th><td></td><td></td></tr>
                      <tr><th>18:30~20:30</th><td>费米创客班</td><td></td></tr>
                    </tbody>        
                  </table>
                </div>
              </div>

            </div>

            <div>
              <br />
              <h4>2016年春季</h4>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#outline2" aria-controls="outline2" role="tab" data-toggle="tab">大纲</a></li>
                <li role="presentation"><a href="#time2" aria-controls="time2" role="tab" data-toggle="tab">时间</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="outline2">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%">主题</th>
                        <th style="width: 80%">概述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>超越水晶的蓝宝石</td><td>晶体艺术|科学艺术类</td></tr>
                      <tr><td>手工皂伴手礼</td><td>护肤养生|科学艺术类</td></tr>
                      <tr><td>叶脉手工书签</td><td>生物化学|科学艺术类</td></tr>
                      <tr><td>抗压的帕特农神庙</td><td>承重结构|科技工程类</td></tr>
                      <tr><td>凹凸面镜的争斗</td><td>光学成像|科学技术类</td></tr>
                      <tr><td>原始部落射击赛</td><td>弹性能量|科技工程类</td></tr>
                      <tr><td>光盘车竞速</td><td>传动装置|科技工程类</td></tr>
                      <tr><td>气球弹性大比拼</td><td>压强应用|科技工程类</td></tr>
                      <tr><td>古代摄影显像</td><td>显像摄影|科学艺术类</td></tr>
                      <tr><td>建造未来城市</td><td>布局设计|工程艺术类</td></tr>
                      <tr><td>美妙的音乐贺卡</td><td>电子线路|工程艺术类</td></tr>
                      <tr><td>昆虫机器急行者</td><td>机器人设计|科技工程类</td></tr>
                      <tr><td>吊绳攀爬机器人</td><td>机器人竞赛|科技工程类</td></tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="time2">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 40%">2月27日起每周六</th>
                        <th style="width: 40%">2月28日起每周日</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th>08:00~10:00</th><td></td><td></td></tr>
                      <tr><th>10:20~12:20</th><td>费米创客班</td><td></td></tr>
                      <tr><th>13:00~15:00</th><td></td><td></td></tr>
                      <tr><th>15:30~17:30</th><td></td><td></td></tr>
                      <tr><th>18:30~20:30</th><td>费米创客班</td><td></td></tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


