{{> subnav_diy}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>家庭实验 第一弹</h3>
          <br />
          <h4>溶解的简单实验</h4>
          <p>关键词：溶液/溶质/溶剂、溶解度、饱和溶液</p>
          <p>实验仪器：烧杯，玻璃棒，药匙（可以分别用家里的玻璃杯，筷子和勺子代替）</p>
          <p>实验试剂：水，氯化钠（也可以用家里的食盐或者糖代替）</p>
          <p>实验步骤：接一杯水，大约 50mL，向其中加入少量氯化钠，观察一下固体的变化；用玻璃棒搅动一段时间，发生什么变化了？继续向其中加氯化钠，观察什么情况下氯化钠就不再溶解了，这时的溶液叫什么溶液？</p>
          <br />
          <h4>酸碱的颜色变幻</h4>
          <p>关键词：酸碱指示剂、pH 值</p>
          <p>实验仪器：烧杯，玻璃棒</p>
          <p>实验试剂：肥皂水，醋，可乐，pH 试纸，石蕊或酚酞溶液</p>
          <p>实验步骤：测一测家中常见溶液的 pH 值，再分别看一下指示剂加入之后的颜色变化。你大可以用其他你所能想到的任何溶液。</p>
          <br />
          <h4>点水成冰（请在家长协助下完成）</h4>
          <p>关键词：热冰实验、过饱和溶液</p>
          <p>实验仪器：烧杯，玻璃棒</p>
          <p>实验试剂：水，醋酸钠</p>
          <p>实验步骤： 准备一杯水， 向其中加入醋酸钠固体， 直至固体不再溶解；加热使得固体完全溶解（可以倒入家里的锅中加热），然后将热饱和溶液倒入烧杯中，冷却（常温冷却或放入冰箱冷藏室）得到过饱和溶液（这一步可能会失败，在冷却的过程中有固体出来，再重复上面步骤即可）。然后，用筷子或者手轻轻伸入溶液中，观察现象。</p>
          <br />
          <h4>湛蓝宝石的结晶</h4>
          <p>关键词：硫酸铜、结晶、晶核</p>
          <p>实验仪器：烧杯、玻璃棒、加热装置、天平、带盖子的玻璃容器</p>
          <p>实验试剂：水（推荐用蒸馏水或者纯净水）、硫酸铜</p>
          <p>实验步骤：烧杯中装 100mL 水，加入 35g 左右的硫酸铜，加热使其溶解；倒入干净的玻璃容器中，盖上盖子，置于不太容易被碰到的地方，静置一天；从静置后的溶液中，得到完整的小晶体（晶核），用线拴紧，系死扣；另配室温下饱和的硫酸铜溶液，用竹签或短棍将刚才的晶核悬入饱和溶液中，加盖，同样放于人迹罕至之处，静置一段时间（可能是几天）。</p>
          <p>注意，如果溶液蒸发后剩余量过少，则需补充常温下的饱和溶液。</p>
          <br />
          <h4>科学启蒙书单</h4>
          <p>《你好，科学》</p><p>《十万个为什么》</p>
          <p>《700 个科学游戏》 （700 个游戏丛书）</p>
          <p>《疯狂的百科》</p>
          <p>《可怕的科学》 （丛书）</p>
          <p>《玩出来的科学家》</p>
          <p>《别逗了，费曼先生》 《Surely You're Joking, Mr. Feynman!》 （《走进费曼系列》丛书）</p>
        </div>
      </div>
    </div>
  </div>
</div>
