{{> subnav_diy}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>家庭实验 第四弹</h3>
          <br />
          <p>“费米实验”第四弹跟大家见面啦!本实验单是承接前面的实验内容,作为启蒙课的
Rookie Fermists 的第四份实验单,命名方式为是 Rookie Experiments Episode 04.</p>
          <h4>物理篇</h4>
          <br />
          <h4>1. 火山喷发</h4>
          <p>一部分水水会飘在另一部分水的上边?自己动手制作一个水下的“火山”喷发,来观察这个现象吧</p>
          <p>实验器材:玻璃缸或盆 1 个,冷热水若干、墨水少量、带盖的小瓶 1 个</p>
          <p>实验步骤:</p>
          <p>i. 在玻璃缸中倒入 3/4 的冷水。</p>
          <p>ii. 把小瓶中装满热水,加入几滴墨水,拧紧瓶盖,并摇晃均匀。</p>
          <p>iii. 把小瓶放在缸底并拧开盖子。</p>
          <p>iv. 观察墨水喷向水面:热的染色水在冷水的上面形成了一层。</p>
          <br />
          <h4>2. 烧不坏的手绢</h4>
          <p>实验器材:手绢、玻璃杯、铁丝、酒精、火柴、水</p>
          <p>实验步骤:</p>
          <p>i. 将两份酒精和一份水兑在一起,将手绢放到兑了水的酒精里浸湿。</p>
          <p>ii. 将手绢从杯子里取出,稍微拧一下水,然后将手绢挂在铁丝上。</p>
          <p>iii. 用火柴将手绢点燃,燃烧后的手绢完好无损。</p>
          <br />
          <h4>3. 无字天书</h4>
          <p>实验器材:毛笔 1 支、打火机 1 个、糖水 1 杯、白纸 1 张</p>
          <p>实验步骤:</p>
          <p>i. 用毛笔蘸糖水在纸上写字或画图。</p>
          <p>ii. 晾干后,是否能看到图案。</p>
          <p>iii. 用打火机稍为烤一烤,字体就会显示出来。</p>
          <br />
          <h4>4. 抓住气球的杯子</h4>
          <p>实验器材:气球 1 个、塑料杯 1 个、暖水瓶 1 个、热水少许</p>
          <p>实验步骤:</p>
          <p>i. 对气球吹气并且绑好。</p>
          <p>ii. 将热水(约 70°C)倒入杯中约多半杯。</p>
          <p>iii. 热水在杯中停留 20 秒后,把水倒出来。</p>
          <p>iv. 立即将杯口紧密地倒扣在气球上。</p>
          <p>v.轻轻把杯子连同气球一块提起。</p>
          <br />
          <h4>5. 不会漏水的瓶子</h4>
          <p>实验器材:塑料瓶、水、钻</p>
          <p>步骤：</p>
          <p>i.取一只旧塑料瓶(如可乐瓶),在瓶的一端侧壁上钻几个小孔,用手指堵住小孔,向瓶中装满水(向水中滴几滴红墨水,便于看得更清楚)。</p>
          <p>ii.松开手指,则水就会喷射出来。</p>
          <p>iii. 如果松开了拿瓶的手,让瓶自由下落,观察是否还会有水流出来。</p>
          <br />
          <h4>化学篇</h4>
          <br />
          <h4>1.稀饭“烧糊”之谜</h4>
          <p>实验器材:铁瓶盖、钳子、面粉、蜡烛</p>
          <p>实验步骤：</p>
          <p>点燃蜡烛,用钳子夹住放有少量面粉的瓶盖,放在蜡烛的火焰上加热,看瓶盖里的面粉是否变色。</p>
          <p>解释:面粉变黑和稀饭烧焦都是因为炭黑,所以烧糊的稀饭一定不能吃哦</p>
          <br />
          <h4>2.捕捉呼出的气体</h4>
          <p>实验器材:水盆、玻璃杯、玻璃片、饮料吸管、水</p>
          <p>实验步骤：</p>
          <p>取大半盆水,把玻璃杯灌满,倒置在盆里,把饮料吸管弯钩一端放在玻璃杯口,向里吹气,看着玻璃杯里面的水都被气赶出去后,用玻璃片盖住玻璃杯</p>
          <p>解释:这是模拟化学实验中重要的收集气体的方法:排水集气法</p>
          <br />
          <h4>3.检验呼出气体的性质</h4>
          <p>实验器材:收集有呼出气体的玻璃杯、木条或者燃香、火柴或者打火机</p>
          <p>实验步骤：用火柴或者打火机点燃木条或者燃香,然后把玻璃片轻轻挪开,把燃烧的木条或者燃香伸入玻璃杯中,看能不能继续燃烧</p>
          <p>解释：呼出的气体主要成分是不支持燃烧的二氧化碳和氮气</p>
          <br />
          <h4>4.香烟灰的妙用</h4>
          <p>实验器材:蔗糖、火柴、香烟灰、瓷盘</p>
          <p>实验步骤：</p>
          <p>i. 把蔗糖放在瓷盘中,用火柴点燃蔗糖,看能否点燃;</p>
          <p>ii. 把香烟灰混入,再用火柴点燃,看能否点燃。(此步必须戴上隔热手套!)</p>
          <br />
          <h4>5.自制碳酸饮料</h4>
          <p>实验器材:凉开水 250g、柠檬汁 1.5g、白糖 8g、小苏打 1.5g、500mL 饮料瓶、适量果汁</p>
          <p>实验步骤：</p>
          <p>i. 在饮料瓶中加 8g 白糖和适量果汁(根据自己口味);</p>
          <p>ii. 加 1.5g 小苏打;</p>
          <p>iii. 加凉开水;</p>
          <p>iv. 加柠檬汁;</p>
          <p>v.立即旋紧瓶盖,摇匀,放入冰箱,放半个小时即可。</p>
        </div>
      </div>
    </div>
  </div>
</div>
