{{> subnav_diy}}

<div class="out-container overlay" style="opacity:1.0; background-image: url(/images/IMG_5073_0.JPG); min-height:48em">
    <div class="container">
        <div class="overlay">
        </div>
    </div>
</div>

<div class="out-container overlay" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 border-top border-thick py1">
                <p>妈妈为你操碎了心，想不想亲手为妈妈做出充满爱意、纯天然的护手霜？</p>
                <p>风靡全球的液氮冰激凌是不是听上去很高大上？想不想亲手做出美味可口的液氮冰激淋？</p>
                <p>茶和咖啡都有提神的作用，你是否知道都是咖啡因的功劳？想不想亲手从茶叶中提取出咖啡因？</p>
                <p>勤洗手，是保持个人卫生的好习惯。想不想给你的爸爸妈妈，送出亲手做出的手工皂？</p>
                <h3>You can DIY in Fermi Lab</h3>
                <br />
                <h5><a href="/courses/chem">查看化学课程</a></h5>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_3410_1.JPG" alt="费米化学">
            </div> 
        </div>
        <div class="overlay">
        </div>
    </div>
</div>

<div class="out-container overlay" style="opacity:1.0; background-image: url(/images/IMG_3453.JPG); min-height:55em">
    <div class="container">
        <div class="overlay">
        </div>
    </div>
</div>

<div class="out-container overlay" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 border-top border-thick py1">
                <p>买东西时不信任别人的称量？何不试试自己做的测力计！</p>
                <p>想知道比萨斜塔的倾角？快带着自制的水平仪去秀一下！</p>
                <p>看3D电影嫌弃公用眼镜？不如带一个刻有你签名的专属成果！</p>
                <p>以后想造火箭遨游太空？至少得先学会造辆汽车吧！</p>
                <h3>You can DIY in Fermi Lab</h3>
                <br />
                <h5><a href="/courses/physics">查看物理课程</a></h5>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_5275.JPG" alt="费米物理">
            </div> 
        </div>
        <div class="overlay">
        </div>
    </div>
</div>
