{{> subnav_diy}}

<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb24">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb4">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1">
                        <h4 class="">杨屹翼和王羽鸣带领她们的小组进行分析和讨论</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_6954.JPG)">
    </div>
</div>

<div class="out-container overlay" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top border-thick py1">
                <h4>在实验室里尝试有趣的实验，DIY有用的东西</h4>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_5275.JPG" alt="费米创课">
            </div> 
        </div>
    </div>
</div>

<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb24">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb4">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1">
                        <h4 class="">曹丁宁的队伍赢得承重结构设计的比赛</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/536325197530066136.jpg)">
    </div>
</div>

<div class="out-container overlay" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top border-thick py1">
                <h4>在博物馆里体验不一样的参观</h4>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_5933.JPG" alt="费米创课">
            </div> 
        </div>
    </div>
</div>

