{{> subnav_diy}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>家庭实验 第三弹</h3>
          <br />
          <p>“费米实验”第三弹跟大家见面啦！从今后起，费米科学给孩子们的实验单将会按照难度进行划分， 本实验单是承接前面的实验内容，作为启蒙课的 Rookie Fermists 的第三份实验单，所以命名方式为是 Rookie Experiments Episode 03~</p>
          <h4>物理篇</h4>
          <br />
          <h4>1.  有孔的纸托水</h4>
          <p>器材：水杯，白纸（最好是打印纸纸或者油纸），水</p>
          <p>步骤：在空水杯内盛满水（水要尽可能的满）；用大头针在白纸上扎一些孔；把有孔纸片盖住杯口。 用手压著纸片，将水杯迅速倒转，使杯口朝下。 将手轻轻移开，纸片纹丝不动地盖住杯口，而且水也未从孔中流出来。</p>
          <br />
          <h4>2.  吹不灭的蜡烛</h4>
          <p>器材：蜡烛，玻璃漏斗</p>
          <p>步骤： 点燃蜡烛，并固定在平盘上； 使漏斗的宽口正对著蜡烛的火焰，从漏斗的小口对著火焰用力吹气，蜡烛很容易就被吹灭了；如果漏斗调换个方向，，从小口吹气，将宽口对和蜡烛，看看蜡烛会如何呢？</p>
          <br />
          <h4>3.  飞行的塑料袋</h4>
          <p>器材：塑料袋（不破损的厚实塑料袋），吹风机</p>
          <p>步骤：打开塑料袋并倒置；将吹风机伸入塑料袋，并打开热气开关；几秒钟后，关闭吹风机并拿开；松开手，塑料袋会飘起来。</p>
          <br />
          <h4>4.  蜡烛抽水机</h4>
          <p>器材：塑料管，硬纸板，玻璃杯（2 个），凡士林</p>
          <p>步骤：</p>
          <p>i.  将塑料管折成“门框形”，一头穿过硬纸片</p>
          <p>ii.  再把两只玻璃杯一左一右放在桌子上</p>
          <p>iii.  将蜡烛点然后固定在左边玻璃杯底部，同时将水注入右边玻璃杯中</p>
          <p>iv.  在放蜡烛的杯子口涂一些凡士林，再用穿有塑料管的硬纸片盖上（硬纸片要保证尽可能密闭杯子），并使塑料管的另一头没入右边杯子水中</p>
          <p>v.  看看水是否从右边流入左边的杯子中</p>
          <br />
          <h4>5.  模拟云的形成</h4>
          <p>器材：带瓶盖矿泉水瓶（可用麦当劳带吸管的小杯可乐代替），橡皮泥，水，火柴</p>
          <p>步骤：</p>
          <p>i.  在瓶子盖上戳个洞，在洞中插入吸管，并用橡皮泥将吸管周围密封</p>
          <p>ii.  在瓶子中倒入一些冷水，摇晃均匀，然后把水倒出来</p>
          <p>iii.  近瓶口，点燃一根火柴。吹灭火柴，把冒烟的火柴扔进瓶子中，让烟进入瓶子</p>
          <p>iv.  迅速拧紧瓶盖，通过吸管向瓶子中用力吹气</p>
          <p>v.  停止吹气，用手堵住吸管，使空气留在瓶中</p>
          <p>vi.  松开吸管，当空气冲出瓶子时，瓶子中就产生了云</p>
          <br />
          <h4>化学篇</h4>
          <br />
          <h4>1.  水也有软硬？</h4>
          <p>实验材料：2 个空的矿泉水瓶，肥皂水，自来水，纯净水</p>
          <p>实验步骤：</p>
          <p>i.  分别向 2 个矿泉水瓶中加入等量的自来水和纯净水（约 1/4 瓶）；</p>
          <p>ii.  分别向 2 个矿泉水瓶中加入等量的肥皂水（再加约 1/4 瓶）；</p>
          <p>iii.  盖上瓶盖，分别振荡摇动 2 个矿泉水瓶，观察现象。</p>
          <br />
          <h4>2.  帮妈妈洗碗</h4>
          <p>实验材料：吃完饭后带有油污的碗，洗洁精，自来水（热水更好），洗碗布</p>
          <p>实验步骤：</p>
          <p>i.  向有油污的碗里滴 1-2 滴洗洁精，加 1/3 碗水，用洗碗布擦洗碗内壁和外壁；</p>
          <p>ii.  倒掉洗洁精水，加 1/3 碗水，用洗碗布擦洗碗内壁和外壁；</p>
          <p>iii.  把洗碗布拧干，把碗擦干。</p>
          <br />
          <h4>3.  “动起来”的鸡蛋</h4>
          <p>实验材料：玻璃杯（口径比鸡蛋稍大）、半杯白醋、煮熟的鸡蛋</p>
          <p>实验步骤：向玻璃杯中加入半杯白醋，然后轻轻把煮熟的鸡蛋放进去，观察现象。</p>
          <br />
          <h4>4.  蓝土豆</h4>
          <p>实验材料：土豆，碘酒</p>
          <p>实验步骤：把土豆切开，滴 2-3 滴碘酒在土豆上，观察现象。查一下这是为什么？</p>
          <br />
          <h4>5.  铁丝生锈探究</h4>
          <p>实验材料：铁丝 3 根，玻璃杯 3 个，自来水 </p>
          <p>实验步骤：</p>
          <p>i.  将 3 根铁丝放入 3 个玻璃杯，编号①②③，向①号玻璃杯中加水使其完全没过铁丝，向②号玻璃杯中加水，使铁丝一半在水中，一半与空气接触；</p>
          <p>ii.  将 3 个玻璃杯敞放，每隔 1h 观察一次，记录现象。</p>
        </div>
      </div>
    </div>
  </div>
</div>
