{{> subnav_diy}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>家庭实验 第二弹</h3>
          <br />
          <p>大家好！ 家庭实验单第二弹又和大家见面了， 这一期中， 我们依然选了在家里就能完成的实验，供大家尝试。</p>
          <h4>物理篇</h4>
          <br />
          <h4>1.  鸡蛋实验</h4>
          <p>（1） 瓶子吞蛋： 找一个瓶口比鸡蛋略小的玻璃瓶，把点燃的酒精棉投入瓶中，把剥了壳的鸡蛋放到瓶口，火熄灭鸡蛋就会进去。倒置，并对瓶加热，鸡蛋就会出来。</p>
          <p>（2） 生熟鸡蛋的判别： 将两个质量差不多的生鸡蛋和熟鸡蛋放在光滑的桌面上，用同样大小的力旋转，转动时间更久的是熟鸡蛋；也可以让两个鸡蛋从同一高度的斜面上滚下来（底部要有棉絮铺垫，避免打碎鸡蛋） ，到底部转动更快的是熟鸡蛋。</p>
          <br />
          <h4>2.  筷子提米</h4>
          <p>将米倒满塑料杯，用手将杯子里的米按一按，用手按住米，从手指缝间插入筷子，然后用手用力按压被子表面，轻轻提起筷子，杯子和米一起被提起来了。</p>
          <br />
          <h4>3.  瓶子赛跑</h4>
          <p>用长方形木板和两本书达成一个斜坡，将水倒入另一个瓶子中，将沙子倒入瓶子中，把两只瓶子放在木板上，在同一起始高度让两只瓶子同时向下滚动，装水的瓶子比装沙子的瓶子提前到达终点。</p>
          <br />
          <h4>4.  摩擦起电</h4>
          <p>（1）带电的报纸：展开报纸，把报纸平铺在墙上， 用铅笔的侧面迅速地在报纸上摩擦几下后，报纸就像粘在墙上一样掉不下来了，掀起报纸的一角然后松手，被掀起的角会被墙壁吸回去，把报纸慢慢地从墙上揭下来，注意倾听静电的声音。</p>
          <p>（2）分离盐和胡椒粉： 将盐巴与胡椒粉相混在一起， 用筷子搅拌均匀，拿一个塑料汤勺，在衣服上摩擦后放在盐巴与胡椒粉的上方，胡椒粉先粘附在汤勺上。</p>
          <br />
          <h4>5.  分合的水流</h4>
          <p>在空的易拉罐盒底部用一根钉子在上面钻 4 个小孔（小孔间隔只在 5 毫米左右） ，将罐内盛满水，水是分 4 股从 4 个小孔中流出的，用大拇指和食指将这些水流捻合在一起，手拿开后，4 股水就会合成一股，如果你用手再擦一下罐上的小孔，水就又会重新变 4股。</p>
          <br />
          <h4>化学篇</h4>
          <br />
          <h4>1.    玻璃杯里的泡沫</h4>
          <p>找一只玻璃杯，加半杯水，然后向里面加一勺柠檬汁（直接买或者买柠檬挤均可） ，向其中放入粉笔，静置 24 小时，24 小时后，会发现玻璃杯中出现很多泡沫。</p>
          <br />
          <h4>2.   碘酒偶遇红药水</h4>
          <p>有生活常识的小朋友都知道， 碘酒和红药水都是常用来消毒的药水， 但是他俩却不能混用。去药店买一瓶红药水和一瓶碘酒，找一个小的玻璃杯或者试管，加 5-8ml碘酒（一杯底或者半试管） ，再加几滴红药水。过一会儿会发现液体变浑浊，出现沉淀。</p>
          <br />
          <h4>3.   手指入水不湿</h4>
          <p>把手指直接伸入一碗水中，手指肯定会变湿。怎么样 “入水不湿”呢？我们需要借助一个好帮手——痱子粉。在水面上撒上一层痱子粉，再把手伸到水中，你会神奇地发现，手并没有变湿。</p>
          <br />
          <h4>4.   自制酸碱试纸</h4>
          <p>准备半杯草莓果汁（黑莓、蓝莓、桑葚等等也可） ，准备一张纸条浸入果汁中，让纸条表面都粘上果汁（果肉什么的就不用沾上啦） ，然后把纸条放在纸巾上晾干，酸碱试纸就做好啦。</p>
          <br />
          <h4>5.   使用草莓酸碱试纸</h4>
          <p>上面制好的酸碱试纸可以用啦！我们可以先选择典型的酸（醋）和碱（碱面溶于水）来试一下试纸在酸性条件和碱性条件下分别会显出什么样的颜色，并且记录下来。 然后就可以找生活中常见的液体，来测试它们的酸碱性了，比如：肥皂水，喝的果汁，洗完衣服的水，农夫山泉的水等等。</p>
        </div>
      </div>
    </div>
  </div>
</div>
