{{> subnav_diy}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>液氮冰激淋</h3>
          <p>当物理与甜品相遇，迸发出灵感的光火，孕育出新的冰淇淋制作手法。这是理性与感性的交融，智慧与味蕾的邂逅。</p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/IMG_5431.JPG">
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/IMG_5472.JPG">
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/IMG_5135.JPG">
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/IMG_5101.JPG">
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/IMG_5140.JPG">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
