{{> subnav_diy}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>测力计</h3>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/IMG_4023.JPG">
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/IMG_4032.JPG">
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/IMG_4025.JPG">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
