{{> subnav_diy}}

<div class="row">
  <div class='col-md-4'>
    <div class="promo-content">
      <img src="/images/IMG_5431.JPG" alt="DIY">
      <div class="inner-content">
        <div>
          <h2>DIY</h2>
          <h3>液氮冰激淋</h3>
        </div>
        <div>
          <p></p>
        </div>
      </div>
      <a href="/diy/bing" class="cta-overlay">液氮冰激淋</a>
    </div>
  </div>

  <div class='col-md-4'>
    <div class="promo-content">
      <img src="/images/IMG_5275.JPG" alt="DIY">
      <div class="inner-content">
        <div>
          <h2>DIY</h2>
          <h3>水平仪</h3>
        </div>
        <div>
          <p></p>
        </div>
      </div>
      <a href="/diy/shui" class="cta-overlay">水平仪</a>
    </div>
  </div>

  <div class='col-md-4'>
    <div class="promo-content">
      <img src="/images/IMG_4023.JPG" alt="DIY">
      <div class="inner-content">
        <div>
          <h2>DIY</h2>
          <h3>测力计</h3>
        </div>
        <div>
          <p></p>
        </div>
      </div>
      <a href="/diy/ce" class="cta-overlay">测力计</a>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-4'>
    <div class="promo-content">
      <img src="/images/IMG_4438.JPG" alt="DIY">
      <div class="inner-content">
        <div>
          <h2>DIY</h2>
          <h3>第一弹</h3>
        </div>
        <div>
          <p>家庭实验 第一弹</p>
        </div>
      </div>
      <a href="/diy/first" class="cta-overlay">第一弹</a>
    </div>
  </div>

  <div class='col-md-4'>
    <div class="promo-content">
      <img src="/images/IMG_4812.JPG" alt="DIY">
      <div class="inner-content">
        <div>
          <h2>DIY</h2>
          <h3>第二弹</h3>
        </div>
        <div>
          <p>家庭实验 第二弹</p>
        </div>
      </div>
      <a href="/diy/second" class="cta-overlay">第二弹</a>
    </div>
  </div>

  <div class='col-md-4'>
    <div class="promo-content">
      <img src="/images/IMG_4361.JPG" alt="DIY">
      <div class="inner-content">
        <div>
          <h2>DIY</h2>
          <h3>第三弹</h3>
        </div>
        <div>
          <p>家庭实验 第三弹</p>
        </div>
      </div>
      <a href="/diy/third" class="cta-overlay">第三弹</a>
    </div>
  </div>
</div>
