{{> subnav_faculty}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>李天翼</h3>
          <br />
          <div class='row'>
            <div class='col-md-4 col-md-offset-4'>
              <img src="/images/tianyi.jpeg">
            </div>
          </div>
          <br />
          <p>北京大学数学学院学士学位，国际信息学奥林匹克竞赛金牌，全国高中数学联赛一等奖。</p>
          <p>数学不仅仅是计算，更是很多行业的方法论，用数学的逻辑可以实现人工智能、软件程序、算法结构等一系列与计算机相关的科学。希望孩子们能够在成长的过程中，感受到学习的乐趣。并且能够在学习不同学科的经历中，通过与老师和同学的交流，掌握一套适合自己的学习方法。</p>
          <p>适合孩子自身的办法，就是最好的办法。</p>
        </div>
      </div>
    </div>
  </div>
</div>

      