{{> subnav_faculty}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米计划化学体系负责人 刘宇</h3>
          <br />
          <div class='row'>
            <div class='col-md-4 col-md-offset-4'>
              <img src="/images/liu.jpg">
            </div>
          </div>
          <br />
          <p>北京大学化学学士学位，心理学双学士，两届全国化学竞赛一等奖。</p>
          <p>教育行业五年工作经验，坚信Chem is try& Chem is DIY，真正能学好化学的人一定是有生活情趣的人。借鉴了咨询师“助人自助”的理念，带着真诚的心，陪伴更多孩子从费米学院走出，成为有温度的科学人。</p>
          <p>是心理咨询师也是分子美食家，但更希望通过费米计划中点亮孩子们的梦想。</p>
        </div>
      </div>
    </div>
  </div>
</div>

      