{{> subnav_faculty}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米计划创始人 肖艺能</h3>
          <br />
          <div class='row'>
            <div class='col-md-4 col-md-offset-4'>
              <img src="/images/xiao.jpg">
            </div>
          </div>
          <br />
          <p>费米科学创始人、创新方法论学者、科学教育践行者</p>
          <p>北京大学法学博士、理学学士、斯坦福商学院北京创业训练营首届学员、国际化学奥林匹克竞赛金牌</p>
          <p>奉行“有用、有趣的科学”价值观、实践“创造性连接一切”的创新方法论，做有情怀的科学教育，培养有温度的科学人。</p>
        </div>
      </div>
    </div>
  </div>
</div>
