{{> subnav_faculty}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米计划数学体系负责人 ﻿王骁</h3>
          <br />          
          <div class='row'>
            <div class='col-md-4 col-md-offset-4'>
              <img src="/images/wang1.jpeg">
            </div>
          </div>
          <br />
          <p>清华大学数学系学士学位，全国数学联赛全省第二、全国中学生物理竞赛全省第一，国家数学、物理冬令营成员。</p>
          <p>从“学霸保送生”到数学爱好者，从“做题破万道，考试如有神”到“数学就是把生活中的美解析化”，摆脱应试的桎梏发现真正有用的数学，让数学“化敌为友”，让更多人爱上数学。</p>
          <p>行胜于言，用行动走进美丽的数学世界，让思想迸发闪烁的智慧火花</p>
        </div>
      </div>
    </div>
  </div>
</div>

