{{> subnav_faculty}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>李枝蔚</h3>
          <br />
          <div class='row'>
            <div class='col-md-4 col-md-offset-4'>
              <img src="/images/li.jpeg">
            </div>
          </div>
          <br />
          <p>北京大学物理学院学士学位，心理学辅修学位，纽约大学研究助理。</p>
          <p>“知识是自我的”。这话有两层意思：</p>
          <p>第一，只有我能理解的知识，才是我的知识，才是可以去表达和传递的信息。谣言、盲从，皆出于对知识的漫不经心，不把它当自己人。</p>
          <p>第二，知识帮助我们理解自我。物理学探索生活和宇宙，脑科学和心理学指向心灵。人从此不再是直觉和本能的奴隶。</p>
          <p>有趣的是，爱知者却最谦虚、最宽容、最开放、最不会是自我主义者（egotist）。</p>
          <p>这就是今天的我——又或许是明天的你</p>
        </div>
      </div>
    </div>
  </div>
</div>

      