{{> subnav_faculty}}

<div class="row">
  <div class="col-md-12">
    <div class="promo-content horizontal">
      <div class="row">
        <div class="col-md-2">
          <img src="/images/xiao.jpg" alt="教师">
        </div>
        <div class="col-md-8">
          <div class='inner-content'>
            <h3>创始人 肖艺能</h3>
            <p>Never lose your holy curiosity.</p>
          </div>
        </div>
        <a href="/faculty/xiao" class="cta-overlay">肖艺能</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="promo-content horizontal">
      <div class="row">
        <div class="col-md-2">
          <img src="/images/cai.jpeg" alt="教师">
        </div>
        <div class="col-md-8">
          <div class='inner-content'>
            <h3>联合创始人 蔡钧安</h3>
            <p>Science is not a doctrine but a wonderful encounter with nature.</p>
          </div>
        </div>
        <a href="/faculty/cai" class="cta-overlay">蔡钧安</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="promo-content horizontal">
      <div class="row">
        <div class="col-md-2">
          <img src="/images/wang1.jpeg" alt="教师">
        </div>
        <div class="col-md-8">
          <div class='inner-content'>
            <h3>数学体系负责人 王骁</h3>
            <p>Stay hungry, stay foolish.</p>
          </div>
        </div>
        <a href="/faculty/wang" class="cta-overlay">王骁</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="promo-content horizontal">
      <div class="row">
        <div class="col-md-2">
          <img src="/images/liu.jpg" alt="教师">
        </div>
        <div class="col-md-8">
          <div class='inner-content'>
            <h3>化学体系负责人 刘宇</h3>
            <p>A person who never made a mistake never tried anything new.</p>
          </div>
        </div>
        <a href="/faculty/liu" class="cta-overlay">刘宇</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="promo-content horizontal">
      <div class="row">
        <div class="col-md-2">
          <img src="/images/li.jpeg" alt="教师">
        </div>
        <div class="col-md-8">
          <div class='inner-content'>
            <h3>李枝蔚</h3>
            <p>知识是自我的</p>
          </div>
        </div>
        <a href="/faculty/li" class="cta-overlay">李枝蔚</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="promo-content horizontal">
      <div class="row">
        <div class="col-md-2">
          <img src="/images/qin.jpg" alt="教师">
        </div>
        <div class="col-md-8">
          <div class='inner-content'>
            <h3>秦一然</h3>
            <p>让每个孩子，都成为一个艺术家——美之人生就是他的作品。</p>
          </div>
        </div>
        <a href="/faculty/qin" class="cta-overlay">秦一然</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="promo-content horizontal">
      <div class="row">
        <div class="col-md-2">
          <img src="/images/tianyi.jpeg" alt="教师">
        </div>
        <div class="col-md-8">
          <div class='inner-content'>
            <h3>李天翼</h3>
            <p>Imagination is more importantthan knowledge.</p>
          </div>
        </div>
        <a href="/faculty/tianyi" class="cta-overlay">李天翼</a>
      </div>
    </div>
  </div>
</div>

