{{> subnav_faculty}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米计划联合创始人 蔡钧安</h3>
          <br />
          <div class='row'>
            <div class='col-md-4 col-md-offset-4'>
              <img src="/images/cai.jpeg">
            </div>
          </div>
          <br />
          <p>北京大学物理学院学士、硕士学位，全国中学生物理竞赛金牌，国家冬令营成员。7年教育培训经验，北京四中、人大附、西安铁一中、高新一中物理竞赛教练，费米科学联合创始人。</p>
          <p>Physics（物理）一词源于Natural（自然），是人类对世界的感知和探索。费米将会建立Science、Technology、Engineering、Mathematics四个主干学科，是满足孩子们好奇心的同时，陪伴他们运用理证和实证去伪存真。结合国学知识，点亮孩子的内心，成为有人文素养的科学人。</p>
          <p>教育，是教会每个人追求幸福的事业。</p>
        </div>
      </div>
    </div>
  </div>
</div>

      