{{> subnav_faculty}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>秦一然</h3>
          <br />
          <div class='row'>
            <div class='col-md-4 col-md-offset-4'>
              <img src="/images/qin.jpg">
            </div>
          </div>
          <br />
          <p>北大艺术学院文学学士学位，心理学双学士，北大教育学硕士，北大教育知行社社长、北大电视台《美丽人生》栏目制片人、北大交响乐团骨干。</p>
          <p>教育，是美的艺术，旨在“以心养心”。教育的历程，是美的历程，慢行慢赏，让孩子悠游于科学与人文的世界，遍看风景。让他不论投身哪个领域，都有一双识美之眼和一颗感美之心。</p>
          <p>让每个孩子，都成为一个艺术家——美之人生就是他的作品。</p>
        </div>
      </div>
    </div>
  </div>
</div>

      