<div class='row'>
  <div class='col-md-12'>
    <p></p>
    {{#if image.id}}
      <form action="/images/{{id}}" enctype="multipart/form-data" method="post">
    {{else}}
      <form action="/images" enctype="multipart/form-data" method="post">
    {{/if}}
      <div class="form-group">
        <label for="inputPicture">图片</label>
        <div class="col-sm-12">
          <input type="file" class="form-control" required accept = "image/*" id="inputPicture" name="cover">
        </div>
      </div>
      <div class="form-group">
        <div>
          {{#if image.id}}
            <input name="_method" type="hidden" value="put">
          {{/if}}
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>