<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb4">
                        <h5>21世纪的科学教育</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1 mb18">
                        <h1 class="">为00后打造的教育</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1">
                        <h3 class="">费米提供独特的科学教育。通过实验室里孩子们DIY的实验,引导他们去探寻科学世界里的风景,帮助他们去适应二三十年后的未来世界。</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="undo-collapse">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="border-top py1">
                        <div class="undo-collapse">
                        </div>
                    </div>
                </div>
            </div>
        </div-->
    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_3995_0.JPG)">
    </div>
</div>

<div class="out-container" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top py1">
                <h4>在这里</p>
                <h4>科学不再是课本上密密麻麻的符号、公式，</h4>
                <h4>而是实验室里孩子们DIY的实验。</h4>
                <br />
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_5431.JPG" alt="费米化学">
            </div> 
        </div>
    </div>
</div>

<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb4">
                        <h5>21世纪的科学教育</h5>
                    </div>
                    <div class="border-top border-thick py1">
                        <h1 class="">费米物理</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_3453.JPG)">
    </div>
</div>

<div class="out-container" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top py1">
                <p>买东西时不信任别人的称量？何不试试自己做的测力计！</p>
                <p>想知道比萨斜塔的倾角？快带着自制的水平仪去秀一下！</p>
                <p>看3D电影嫌弃公用眼镜？不如带一个刻有你签名的专属成果！</p>
                <p>以后想造火箭遨游太空？至少得先学会造辆汽车吧！</p>
                <h3>You can DIY in Fermi Lab</h3>
                <br />
                <p><a href="/courses/physics">查看物理课程</a></p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_5275.JPG" alt="费米物理">
            </div> 
        </div>
    </div>
</div>

<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb4">
                        <h5>21世纪的科学教育</h5>
                    </div>
                    <div class="border-top border-thick py1">
                        <h1 class="">费米化学</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_5074_0.JPG)">
    </div>
</div>


<div class="out-container overlay" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top py1">
                <p>妈妈为你操碎了心，想不想亲手为妈妈做出充满爱意、纯天然的护手霜？</p>
                <p>风靡全球的液氮冰激凌是不是听上去很高大上？想不想亲手做出美味可口的液氮冰激淋？</p>
                <p>茶和咖啡都有提神的作用，你是否知道都是咖啡因的功劳？想不想亲手从茶叶中提取出咖啡因？</p>
                <p>勤洗手，是保持个人卫生的好习惯。想不想给你的爸爸妈妈，送出亲手做出的手工皂？</p>
                <h3>You can DIY in Fermi Lab</h3>
                <br />
                <p><a href="/courses/chem">查看化学课程</a>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_6466.JPG" alt="费米化学">
            </div> 
        </div>
    </div>
</div>
