<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb24">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1 mb4">
                        <h1 class="">费米科学</h1>
                        <h3>培养有温度的科学人</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="py1">
                        <h4 class=""></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_3995_0.JPG)">
    </div>
</div>

<div class="out-container" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top py1">
                <h4>费米科学计划是一个由全北大清华跨学科精英团队发起的中小学生创新创客教育项目，</h4>
                <h4>为中国的00后孩子开发面向未来的创新创客和科学教育体系，</h4>
                <h4>构建由学生、家长和教师共同参与的教育实践共同体，</h4>
                <h4>培养有创新能力、博雅精神、国际视野、人文温度的科学中国人。</h4>
                <br />
                <p><a href="/courses/">查看费米课程</a></p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_6466.JPG" alt="费米化学">
            </div> 
        </div>
    </div>
</div>

<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb24">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1 mb4">
                        <h1 class="">玩实验  当创客</h1>
                        <h3>解放孩子的创造力</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="py1">
                        <h4 class=""></h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_3453.JPG)">
    </div>
</div>

<div class="out-container" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top py1">
                <h4>费米实验室通过以任务为目标的创客教育和系统化的科学实验内容，</h4>
                <h4>教6-12岁的孩子们学习生活中好玩的数理化、动手玩实验、DIY当创客；</h4>
                <h4>让孩子们在充满科技感的费米实验室中动手完成物理、化学、机械工程、电路设计、机器人搭建与控制、3D打印、图形化编程等实验。</h4>
                <br />
                <p><a href="/courses/maker">查看创客课程</a></p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_6900.JPG" alt="费米物理">
            </div> 
        </div>
    </div>
</div>

<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb24">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1 mb4">
                        <h1 class="">遵守契约  合作分享</h1>
                        <h3>构建教育实践共同体</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="py1">
                        <h4 class=""></h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_5074_0.JPG)">
    </div>
</div>


<div class="out-container overlay" style="min-height:28em">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-top py1">
                <h4>费米远不只是一个传播科学的课堂，而从萌芽之初就秉持构建“教育实践共同体”的核心理念。</h4>
                <h4>我们希望，孩子们在费米做实验、当创客的实践中，</h4>
                <h4>潜移默化地形成契约意识，形成为他人着想的观念，</h4>
                <h4>深刻地感受到合作分享对于出色地完成实验任务、提升成就感和道德感的成长意义。</h4>
                <br />
                <p><a href="/courses/chem">查看这里的学生</a></p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img src="/images/IMG_6952.JPG" alt="费米化学">
            </div> 
        </div>
    </div>
</div>
