{{> subnav_news}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米科学报名攻略</h3>
          <br />
          <h4>地址&交通</h4>
          <p><strong>1、费米实验室地址：</strong>北京市海淀区知春路113号银网大厦B座10层费米实验室（Fermi Science lab）</p>
          <p><strong>2、交通方式：</strong></p>
          <p>A、地铁4号线、10号线到海淀黄庄站B出口，向东300米</p>
          <p>B、公交355、608、等至海淀黄庄北站；公交304等至海淀黄庄东站</p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/741_2.jpg">
            </div>
          </div>
          <br /><br />
          <h4>暑秋开班信息</h4>
          <p>【2015年暑期&秋季】费米科学课程类别： <strong>物理、化学、数学</strong></p>
          <p><strong>一、费米实验启蒙班：</strong></p>
          <p><strong>1、</strong>包括<strong>费米物理启蒙班</strong>和<strong>费米化学启蒙班</strong></p>
          <p><strong>2、对象：</strong>新升四年级到新升初一年级的学生（24人/班）</p>
          <p><strong>3、课程时间及主题：</strong></p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/742.png">
            </div>
          </div>
          <p>注：费米实验启蒙班根据学生年龄进行了分班。<span class='red'>红色</span>标注部分为六年级和初一学生可报名的时间段；<span class='blue'>蓝色</span>标注部分为四年级和五年级学生可报名的时间段。</p>
          <p><strong>4、费用</strong></p>
          <p><strong>A、暑期物理：</strong>7次课，每次课包含两节课（共2小时） 共2100元</p>
          <p><strong>B、暑期化学：</strong>7次课，每次课包含两节课（共2小时） 共2100元</p>
          <p><strong>C、秋季物理：</strong>15次课，每次课包含两节课（共2小时） 共4500元</p>
          <p><strong>D、秋季化学：</strong>15次课，每次课包含两节课（共2小时） 共4500元</p>
          <p><strong>注：</strong>1、费米实验启蒙班的费用包含<strong>实验耗材</strong>、<strong>实验仪器</strong>以及<strong>可带走的实验成果</strong>的费用（每节课合计50元）</p>
          <p>2、费米物理启蒙班为每位费米学员配备了费米物理实验包，内含实验服、隔热手套、操作手套。（150元/套）</p>
          <p>3、费米化学启蒙班为每位费米学员配备了费米化学实验包，内含实验服、隔热手套、操作手套、口罩、护目镜。（200元/套）</p>
          <p><strong>二、费米数学开源班：</strong></p>
          <p><strong>1、对象：</strong>新升四年级到新升初一年级的学生（30人/班）</p>
          <p><strong>2、课程时间及主题：</strong></p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/744.png">
            </div>
          </div>
          <p><strong>3、费用</strong></p>
          <p><strong>A、暑期数学：</strong>7次课，每次课包含两节课（共2小时） 共1400元</p>
          <p><strong>B、秋季数学：</strong>15次课，每次课包含两节课（共2小时） 共3000元</p>
          <br /><br />
          <h4>报名方式</h4>
          <p><strong>一、报名地址：</strong></p>
          <p>银网大厦B座10层报名前台（费米实验室所在地）</p>
          <p>豪景大厦11层报名前台（银网大厦过马路斜对面）</p>
          <p><strong>二、报名电话：</strong></p>
          <p>银网前台 62617100</p>
          <p>豪景前台 62106576 ； 62105289</p>
          <br />
          <h4>课程设置&培养方案</h4>
          <p>费米课程会为6-14岁热爱科学的中小学生提供一套完整的科学课程设置和培养方案。</p>
          <p><strong>1、科学实验课程设置：</strong>进阶式课程</p>
          <p>A、半年制启蒙课程（Preliminary）</p>
          <p>B、一年制初级课程（Junior）</p>
          <p>C、一年制中级课程（Middle）</p>
          <p>D、一年制高级课程（Senior）</p>
          <p>E、半年制专题研究（Seminar）</p>
          <p><strong>2、培养方案：</strong>对应不同课程阶段对学生进行培养</p>
          <p>A、入门级费米科学家（Rookie Fermist）</p>
          <p>B、初级费米科学家（Junior Fermist）</p>
          <p>C、中级费米科学家（Associate Fermist）</p>
          <p>D、高级费米科学家（Senior Fermist）</p>
          <br />
          <h4>费米科学奖</h4>
          <p>费米学院将每半年对费米学员进行一次综合评定，最出色的费米科学家将被授予<strong>费米科学奖章</strong>，并获得<strong>费米科学奖学金</strong>（500元-1000元）</p>
          <br />
          <h4>导师团队</h4>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/745.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
