{{> subnav_news}}

<div class="row">
  <div class='col-md-12'>
    <div class="promo-content horizontal">
      <div class="row">
        <div class="col-md-8">
          <img src="/images/850_2.jpg" alt="新闻">
        </div>
        <div class="col-md-4">

            <div>
              <h3>将枯燥的科学课堂搬进自然和生活中是种怎样的体验？</h3>
              <p>想不想穿越回亿万年前？<br />想不想亲手鉴定宝石真假？<br />想不想亲身感受地球惊天动地的力？<br />5.16费米科学之旅，地质博物馆、将课堂搬出教室，搬入大自然（classrooms of nature），带你与“大地”亲密相遇！</p>
            </div>

        </div>
        <a href="/news/third" class="cta-overlay">将枯燥的科学课堂搬进自然和生活中是种怎样的体验？</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-6'>
    <div class="promo-content">
      <img src="/images/640.jpg" alt="新闻">
      <div class="long-inner-content">
        <div>
          <h2>新闻</h2>
          <h3>让90后的教育梦想照进00后的未来</h3>
        </div>
        <div>
          <p>“费米科学计划”是由北大清华的研究生创立的全新科学教育计划，通过为6-14岁的孩子打造其专属的科学实验室，为他们提供中英双语的科学启蒙课程，并为他们订制科学主题的游学营，来点燃中小学生对科学的好奇心，激发他们对生活的热爱。</p>
        </div>
      </div>
      <a href="/news/first" class="cta-overlay">让90后的教育梦想照进00后的未来</a>
    </div>
  </div>

  <div class='col-md-6'>
    <div class="promo-content">
      <img src="/images/740.jpg" alt="新闻">
      <div class="long-inner-content">
        <div>
          <h2>新闻</h2>
          <h3>费米科学报名攻略</h3>
        </div>
        <div>
          <p>费米实验室地址与交通方式、暑秋开班信息、暑秋报名方式、课程设置与培养方案、费米科学奖、费米学院导师团队</p>
        </div>
      </div>
      <a href="/news/second" class="cta-overlay">费米科学报名攻略</a>
    </div>
  </div>

</div>
