{{> subnav_news}}

<div class="row">
{{#each passages}}
  <div class="col-md-12">
    <div class="promo-content horizontal">
      <div class="row">
        <div class="col-md-4">
          <img src="/passages/{{this.id}}/cover.jpeg" alt="新闻">
        </div>
        <div class="col-md-8">
          <div class='inner-content'>
            <h3>{{this.title}}</h3>
            <p></p>
          </div>
        </div>
        <a href="/news/{{this.alias}}" class="cta-overlay">{{this.title}}</a>
      </div>
    </div>
  </div>
</div>
{{#each passages}}
</div>
