{{> subnav_news}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米科学：让90后的教育梦想照进00后的未来</h3>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/640.jpg">
            </div>
          </div>
          <p>费米科学的诞生，始于两个揣着梦的北大人的一场谈话。</p>
          <p>2013年春，一个晚上，北大的燕南地下食堂里，两个理科生在一起吃饭，学化学的90后，肖艺能，学物理的80后，蔡钧安。他俩因为在一家培训机构做兼职代课老师而认识，这次吃饭的议题是毕业去向。蔡说干了几年凝聚态LED的研究，发现与想象中的科研有一些偏差，开始怀疑自己是不是该读博士继续科研之路。这也戳中了肖的痛点：当年他因奥赛金牌保送北大的时候，多少人拍着他的肩膀说以后中国的诺贝尔奖就指望他了。当他真的踌躇满志地迈进北大并投身科研却屡屡受挫后，他发现理想和现实的差距太大。</p>
          <p>两人聊完科研开始聊他们共同的兼职老师经历。蔡说起一个他曾经教过的小孩，发现这个小孩12岁刚上初中的时候，经常追着他问天为什么是蓝的？原子到底是什么？但是到这个小孩16岁读高二的时候，每次上课他只会麻木地抬头记笔记、下课埋在作业堆里刷题，眼里除了分数，别无他物。这个小插曲更刺激了肖，因为他想起了自己。</p>
          <p>科研路上，<strong>无聊和自我否定才是最大的敌人，</strong>多少次肖麻木地看着科研论文发呆，仅仅是因为他真的再也找不到当年那种对科学研究近乎信仰般的热爱与疯狂了，那种疯狂曾经是他高中时代整整一个下午躲在学校草丛里挤弄一种黑色野果的浆液，然后带回宿舍自制酸碱指示剂的疯狂。</p>
          <p>两人都陷入了沉思，曾经的热爱和疯狂是怎么消失的？80后、90后是这个转型期时代的产物，这代人接受的教育夹杂的滋味太多，儿时那些对科学的近乎信仰般的执着和热爱，在现实面前、在诱惑面前、在这个时代追求效率的快节奏面前，太脆弱了。也许我们这些人这辈子也得不了诺贝尔奖了，但是我们也许能一起做一件有意义的事：用80后和90后的热情和信念，去呵护00后一代人心中对科学小小的梦想、让这些小小的梦想、大大的好奇心放肆地萌芽和生长，最后去对抗漫漫成长路、科学路上的无聊和孤独。</p>
          <p>两人一拍即合，他们决心毕业后干脆放弃别的选择，用年轻的这十年一起做一件事：为6-14岁的孩子打造一个<strong>专属于他们</strong>的科学实验室，为他们开发一套完整的<strong>科学启蒙课程</strong>，带着他们做实验、带着他们在生活和自然中与科学邂逅、带着他们踏上那场穿越亚里士多德到炼金术时代、穿越工业革命到量子力学时代的光怪陆离的科学之旅。</p>
          <p><strong><span class="blue">这场科学之旅，在国内从没有人走过。</span></strong></p>
          <p>没人走过也一定要走！这两个偏执的北大理科男，决心要让80后90后曾经的科学梦想照进00后的现实和未来——为下一代建造一座真正的科学学院，哪怕用尽他们毕生之力，也要让孩子们对世界和生命的好奇最终成长为对科学近乎信仰般的热爱。</p>
          <p><strong><span class="blue">“科学不是枯燥的教义，而是一次次与大自然美妙的相遇。”</span></strong></p>
          <p>这是他们的偶像——美国科学大师恩里克·费米和理查德·费曼毕生的信念。所以两人决定以费米之名，启航他们的科学教育梦想。</p>
          <p>在费米学院里，科学不再是课本上密密麻麻的符号、公式，而是实验室里孩子们DIY的实验。</p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/641.jpg">
            </div>
          </div>
          <p>在费米学院里，科学不仅仅是数学，不仅仅是物理，不仅仅是化学，而是人类智慧与美的结合，是散发着美之气息的艺术。因为“<strong>science</strong>”（即科学），其拉丁语词根“<strong>sci</strong>”本就为“<strong>to know</strong>”（知道）的意思，所以费米科学的理念是：</p>
          <p><strong><span class="blue">Science is to know the theory of everything.</span></strong></p>
          <p>在费米学院里，费米导师们不再是老师，而是一次旅行的导览员，教育也不再是对孩子进行知识的灌输、技能的训练，而是精神上的引导，引导他们探寻科学世界里的风景。</p>
          <p><strong><span class="blue">科学是那样的美，可是为何我们的孩子感受不到呢？</span></strong></p>
          <p><strong><span class="blue">我们的孩子是那样的努力，可是为何成为不了真正的科学家呢？</span></strong></p>
          <p>因为我们的孩子们丧失了爱因斯坦所说的“holy curiosity”（神圣的好奇心）。</p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/642.jpg">
            </div>
          </div>
          <p>“<strong>educate</strong>”（即教育），其包含的拉丁语词根“<strong>e</strong>”为“出”之意，“<strong>duc</strong>”为引导之意。所以“费米导师”们是要从根本上引导出孩子内心深处、灵魂深处潜藏的最“神圣”的存在，引导出他们那颗与生俱来的好奇心，并在现实世界里精心呵护它，让它永不失去！</p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/643.jpg">
            </div>
          </div>
          <p>我们现在培养的00后、10后的孩子，是要去<strong>适应二三十年后的未来世界</strong>的。<strong>关乎未来的教育</strong>，本就需要兼具理性思维与感性思维，需要兼具逻辑能力与创造能力，更重要的是，在未来充满变化与发展的世界里，他们要知道如何让自己的灵性生长、如何激发自己的创造力，如何去注入对自己事业的神圣的好奇心和热爱，如何去追求真正的幸福。而对于00后、10后的孩子而言，他们的幸福将不再只是来自马斯诺需求金字塔最底层的物质满足与安全感满足，而是来自于其顶层的被尊重产生的幸福感与自我价值的实现。</p>
          <p>正是基于对科学、教育之本的理解，对未来世界发展的认识，对孩子们最真切的关心与爱，我们决心让“费米学院”在中国落地生根。</p>
          <p>很幸运的是，越来越多的80后90后，揣着赤诚的教育梦想，加入了费米科学的队伍。我们正一道，朝着我们为00后编织的科学教育梦想，努力着，笑着，走着。</p>
          <p>从“<strong>Fermi lab</strong>”（<strong>费米实验室</strong>）开始，我们将带领孩子们动手“玩实验”、用脚走出课堂、去见证科学与生活最真实而美好邂逅。</p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/644.jpg">
            </div>
          </div>
          <p>我们不仅要让孩子们在实验室里面还原拉瓦锡、牛顿和道尔顿充满光荣和梦想的实验，我们更要带孩子品味葡萄酒酿制过程中的化学、探秘迪士尼乐园中的物理、解码名侦探柯南中APTX4869返老还童的生物秘密、解析生活经济学中的博弈论与数学公式，还要带他们去游学、去欧洲和美国科学的中心，去见证FBI在犯罪现场调查（Criminal Scene Investigation）中还原犯罪现场的生物化学技术，去感受特斯拉电动车之父——钢铁侠埃隆·马斯克在硅谷创立的火箭制造工厂中的科学惊叹！</p>
          <p>我们一路走，一路讲，孩子们一路玩儿、一路学。寓学于乐，寓乐于学，在乐中敞开心扉，拥抱自然，在学中，触碰科学，认知世界。</p>
          <p>我们要让孩子们有一颗柔软的心：向外舒展，去与最真实的科学相遇，与最美妙的自然相遇；向内收缩，被美与善滋养着，愉悦而充盈。</p>
          <p><strong>这颗心，关乎未来，关乎幸福。</strong></p>
          <p>童年是短暂的</p>
          <p>好奇心稍纵即逝</p>
          <p><strong>抓住它。</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
