{{> subnav_news}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>将枯燥的科学课堂搬进自然和生活中是种怎样的体验？</h3>
          <br />
          <div class='row'>
            <div class='col-md-6 col-md-offset-4'>
              <p><span class='blue'><strong>科学</strong></span></p>
              <p><span class='blue'><strong>不是枯燥的讲义</strong></span></p>
              <p><span class='blue'><strong>而是与大自然美妙的相遇</strong></span></p>
              <p class='text-right'><span class='blue'><strong>——Fermi</strong></span></p>
            </div>
          </div>
          <!--div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/850_3.jpg">
            </div>
          </div-->
          <br />
          <br />
          <p>还记得费米化学实验课上，咱们烧出来的蓝宝石么？</p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/840.jpeg">
            </div>
          </div>
          <p>晶莹剔透，令人垂涎！可惜宝石太少了，“真不过瘾”！</p>
          <br />
          <p>还记得费米物理实验课上，咱们DIY的弹簧测力计么？</p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/841.jpeg">
            </div>
          </div>
          <p>感触力在指尖的微妙变化！可惜力太小了，“不够刺激”！</p>
          <br />
          <p>费米实验室里，小小好奇心被点亮了：总在教室里念书作业真枯燥！大千世界有这么多五彩斑斓、跌宕起伏，好想亲身去走一遭，看一眼，感受一下啊！</p>
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <img src="/images/842.jpeg">
            </div>
          </div>
          <p><strong>千里之行，始于足下，说走就走，出发！</strong></p>
          <p>于是，在这个春暖花开的日子里，费米学院老师们有了番“<span class='blue'><strong>搬家</strong></span>”大动作——<span class='blue'>将枯燥的科学课堂搬进有趣的大自然与有用的生活中，带着孩子们来一场<span class='blue'><strong>“地质科学”之旅</strong></span>，带孩子们<span class='blue'>在时空的隧道里悠游，与大地之上的光怪陆离、波谲云诡来个亲密相遇！</span></p>
          <p><strong>一、时间：</strong>5月16日（周六）下午14:00-17:00</p>
          <p><strong>二、集合地：</strong>北京市西城区西四羊肉胡同15号地质博物馆</p>
          <p>【西四地铁站D口（西南口）】</p>
          <p><strong>三、自然大课堂之装备：</strong></p>
          <p>·着装：费米院衫</p>
          <p>·随身携带物：笔记本，笔，水，可带手机照相</p>
          <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
              <img src="/images/851_1.jpg">
            </div>
          </div>
          <br />
          <br />
          <p><strong>四、自然大课堂之导师：</strong>肖艺能老师、蔡钧安老师、刘宇老师、秦一然老师</p>
          <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
              <img src="/images/843.jpeg">
            </div>
          </div>
          <br />
          <br />
          <p><strong>五、自然大课堂之奇遇：</strong></p>
          <p><strong>1、自然生物大课堂——史前展厅（3rd floor）</strong></p>
          <p>听过三叶草、恐龙、中华龙鸟么？是不是只在生物课本、百科全书里看过它们的照片呀？平面的图片文字太简单抽象了，想了解这些亿万年前生物生活的故事，就得亲自回它们的世界走一遭！而费米老师们要做的就是这样一件事：<span class='blue'>将孩子们带出教室，带进自然，同他们一起穿越历史的地层</span>，从寒武纪的生物大爆炸时代，漫步至海生无脊椎动物时代，看着古生物的化石，讲述它们从海里登陆的历程，感受地质史上惊心动魄的生物大灭绝，触碰远古人类祖先的遗痕……</p>
          <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
              <img src="/images/844.jpeg">
            </div>
          </div>
          <p><strong>2、自然化学大课堂——珠宝玉石厅&矿物厅（2nd floor）</strong></p>
          <p>“蓝宝石的结晶与《绀碧之棺》”课程结束后，孩子们带着一粒小小的蓝宝石，告别实验室回家，心欠欠的。怎样才能让这些“贪婪”的好奇心满足呢？费米化学的老师们决定<span class='blue'>“大搬家”——把课堂从实验室直接搬到了地质馆</span>。在珠宝玉石厅和矿物厅中，且行且看，让孩子们摸着晶莹剔透的钻石，赏着完美无瑕的石英，给孩子们现场分享大自然用阴阳离子相互作用变化出的完美晶体的结构，向孩子们传授<span class='blue'>鉴定珠宝的化学秘籍</span>。</p>
          <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
              <img src="/images/845.jpeg">
            </div>
          </div>
          <p><strong>3、自然物理大课堂——地球厅（1st floor）</strong></p>
          <p>费米实验室归来，孩子们都知道了“F=kx”，“G=mg”，都拿着自制弹簧测力计去测量物体，可是难道“力”就等于两个公式+一个弹簧测力计么？为了让孩子们更全面、更丰富地感受地球上各种各样的力，费米物理老师们也<span class='blue'>将实验室搬到了地质馆</span>。在地球厅中，老师们将带着孩子们欣赏大自然的<span class='blue'>五彩风貌</span>——高山峻岭、冰川沟谷……这些千姿百态的地质地貌，非朝夕之间从天而降，而是在漫长的时间里，经过内动力、外动力交互作用而成。为了让孩子们更真切地去感知这些巨力，老师们还将带孩子们<span class='blue'>动手模拟，疯狂玩一把，让力的作用“刻骨铭心”！</span></p>
          <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
              <img src="/images/846.jpeg">
            </div>
          </div>
          <p><strong>六、名额：</strong>24人</p>
          <p>为了让更多热爱科学的孩子也能有机会参与其中，在这24个名额中，我们预留了十个名额，给费米学院之外，又对此次科学之旅充满向往和兴趣的孩子。</p>
          <p><strong>七、对象：</strong>小学三年级至初中二年级的学生</p>
          <p><strong>八、活动费：200元/人</strong></p>
          <p><strong>九、报名方式：</strong></p>
          <p>第一步：添加关注“费米科学计划”微信公众平台（长按以下二维码）</p>
          <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
              <img src="/images/847.jpeg">
            </div>
          </div>
          <p>第二步：回复【孩子姓名+性别+学校+年级+联系方式（注明联系人）】</p>
          <p>第三步：我们将在后台随机抽取10位报名者，并以微信形式告知结果。</p>
          <p><span class='blue'><strong>带上你的好奇心，加入我们的费米五月科学之旅吧！</strong></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
