{{> subnav_overview}}

<div class="row">
  <div class='col-md-6'>
    <div class="promo-content">
      <img src="/images/IMG_5073.JPG" alt="费米化学">
      <div class="inner-content">
        <div>
          <h2>理念</h2>
          <h3>费米化学</h3>
        </div>
        <div>
          <p>Chem is try. Chem is also DIY.</p>
        </div>
      </div>
      <a href="/overview/chem" class="cta-overlay">费米化学</a>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="promo-content">
      <img src="/images/IMG_3995.JPG" alt="费米物理">
      <div class="inner-content">
        <div>
          <h2>理念</h2>
          <h3>费米物理</h3>
        </div>
        <div>
          <p>Physics is to learn, to discover, to connect the world.</p>
        </div>
      </div>
      <a href="/overview/phy" class="cta-overlay">费米物理</a>
    </div>
  </div>
</div>
