{{> subnav_overview}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米物理</h3>
        </div>
        <div>
          <img src="/images/IMG_3995.JPG" alt="费米物理">
          <p><strong>Physics is to learn, to discover, to connect the world.</strong></p>
          <p>当别人还在期待雨后的彩虹，你却可以说现就现。</p>
          <p>当别人在旅游时迷失了方向，你却可以带着大家返回目的地。</p>
          <p>当别人被魔术惊呆了，你却可以悄悄告诉他其中的秘密。</p>
          <p>当别人还在梦想遨游宇宙，你却可以讲解宇宙飞船的原理。</p>

          <p><strong>You will become a magician in Fermi Lab.</strong></p>

          <p>买东西时不信任别人的称量？何不试试自己做的测力计！</p>
          <p>想知道比萨斜塔的倾角？快带着自制的水平仪去秀一下！</p>
          <p>看3D电影嫌弃公用眼镜？不如带一个刻有你签名的专属成果！</p>
          <p>以后想造火箭遨游太空？至少得先学会造辆汽车吧！</p>

          <p><strong>You can DIY in Fermi Lab</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
