{{> subnav_overview}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米化学</h3>
        </div>
        <div>
          <img src="/images/IMG_5073.JPG" alt="费米化学">
          <p>你看过《舌尖上的中国》吗？你想知道酸、甜、苦、辣、咸中的化学作用吗？</p>
          <p>家中有葡萄酒的珍藏么？你想知道葡萄酒中的成分以及葡萄酒酿造过程中的化学过程吗？</p>
          <p>你看过《名侦探柯南》么？你想知道APTX4869的作用机制么?想知道如何延缓衰老，保持青春么？</p>
          <p>你喜欢绚烂的焰火么？你想知道焰火跳动中，彩虹色背后的化学原理么？</p>
          
          <p><strong>You can find the answer in Fermi-Chem</strong></p>
          
          <p>妈妈为你操碎了心，想不想亲手为妈妈做出充满爱意、纯天然的护手霜？</p>
          <p>风靡全球的液氮冰激凌是不是听上去很高大上？想不想亲手做出美味可口的液氮冰激淋？</p>
          <p>茶和咖啡都有提神的作用，你是否知道都是咖啡因的功劳？想不想亲手从茶叶中提取出咖啡因？</p>
          <p>勤洗手，是保持个人卫生的好习惯。想不想给你的爸爸妈妈，送出亲手做出的手工皂？</p>
          
          <p><strong>You can DIY in Fermi Lab</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

      